SET

In [45]:
dress=["Jeans","Chudi","Pant","Shirts","T-Shirts","Kurtas","Leggings","Jeggins"]
print(dress,type(dress),id(dress))

['Jeans', 'Chudi', 'Pant', 'Shirts', 'T-Shirts', 'Kurtas', 'Leggings', 'Jeggins'] <class 'list'> 2867655855168

In [16]:
s=set(dress)
type(s)
s

{'Chudi',
 'Jeans',
 'Jeggins',
 'Kurtas',
 'Leggings',
 'Pant',
 'Shirts',
 'T-Shirts'}

In [17]:
s

{'Chudi',
 'Jeans',
 'Jeggins',
 'Kurtas',
 'Leggings',
 'Pant',
 'Shirts',
 'T-Shirts'}

In [20]:
t=tuple(dress)
print(t,type(t))

('Jeans', 'Chudi', 'Pant', 'Shirts', 'T-Shirts', 'Kurtas', 'Leggings', 'Jeggins') <class 'tuple'>

List Methods

In [25]:
dress.append("Hoodies")
print(dress)

['Jeans', 'Chudi', 'Pant', 'Shirts', 'T-Shirts', 'Kurtas', 'Leggings', 'Jeggins', 'Hoodies']

In [26]:
dresses=["Baggy Pants","Saree","Crop-Top","Anarkali","Lehenga"]
dress.extend(dresses)
print(dress)

['Jeans', 'Chudi', 'Pant', 'Shirts', 'T-Shirts', 'Kurtas', 'Leggings', 'Jeggins', 'Hoodies', 'Baggy Pants', 'Saree', 'Crop-Top', 'Anarkali', 'Lehenga']

In [46]:
dress.insert("Suits")
print(dress)

TypeError: insert expected 2 arguments, got 1

In [27]:
dress.insert(1,"Suits")
print(dress)

['Jeans', 'Suits', 'Chudi', 'Pant', 'Shirts', 'T-Shirts', 'Kurtas', 'Leggings', 'Jeggins', 'Hoodies', 'Baggy Pants', 'Saree', 'Crop-Top', 'Anarkali', 'Lehenga']

In [28]:
dress.remove("Kurtas")
print(dress)

['Jeans', 'Suits', 'Chudi', 'Pant', 'Shirts', 'T-Shirts', 'Leggings', 'Jeggins', 'Hoodies', 'Baggy Pants', 'Saree', 'Crop-Top', 'Anarkali', 'Lehenga']

In [30]:
dress.remove(2,"Chudi")
print(dress)

TypeError: list.remove() takes exactly one argument (2 given)

In [31]:
dress.pop(8)
print(dress)

['Jeans', 'Suits', 'Chudi', 'Pant', 'Shirts', 'T-Shirts', 'Leggings', 'Jeggins', 'Baggy Pants', 'Saree', 'Crop-Top', 'Anarkali', 'Lehenga']

In [32]:
dress.pop("Jeggins")
print(dress)

TypeError: 'str' object cannot be interpreted as an integer

In [33]:
index = dress.index("Suits")
print(index)

1

In [36]:
count_dress=dress.count("Jeans")
print (count_dress)

1

In [37]:
dress.sort()
print(dress)

['Anarkali', 'Baggy Pants', 'Chudi', 'Crop-Top', 'Jeans', 'Jeggins', 'Leggings', 'Lehenga', 'Pant', 'Saree', 'Shirts', 'Suits', 'T-Shirts']

In [39]:
dress.sort(reverse=True)
print(dress)

['T-Shirts', 'Suits', 'Shirts', 'Saree', 'Pant', 'Lehenga', 'Leggings', 'Jeggins', 'Jeans', 'Crop-Top', 'Chudi', 'Baggy Pants', 'Anarkali']

In [42]:
dress.reverse()
print(dress)

['Anarkali', 'Baggy Pants', 'Chudi', 'Crop-Top', 'Jeans', 'Jeggins', 'Leggings', 'Lehenga', 'Pant', 'Saree', 'Shirts', 'Suits', 'T-Shirts']

In [44]:
dress_copy=dress.copy()
print(dress_copy,id(dress_copy))

[] 2867656066624

In [ ]:
2867655855168

In [43]:
dress.clear()
print(dress)

[]

In [47]:
names=["Swetha","Sridhar"]
print(names)

['Swetha', 'Sridhar']

In [48]:
names_copy=names.copy()
print(names)

['Swetha', 'Sridhar']

In [49]:
names.append("Seenu")
print(names)

['Swetha', 'Sridhar', 'Seenu']

In [50]:
print(names_copy)

['Swetha', 'Sridhar']

TUPLES

In [52]:
names=("Swetha","Sri","Seenu")
print(names,type(names))

('Swetha', 'Sri', 'Seenu') <class 'tuple'>

In [54]:
print(names[2])
print(names[-1])

Seenu
Seenu

In [55]:
number=(1,7,8,1,2)
count=number.count(1)
print(count)

2

In [63]:
number=(1,7,8,1,2)
index=number.index(1,1)
print(index)

3

In [59]:
values=(1,7,8,1,2)
a,b,c,d,e=values
print(f"a:{a},b:{b},c:{c},d:{d},e:{e}")

a:1,b:7,c:8,d:1,e:2

In [60]:
names=("Swetha","Sridhar","Seenu")
number=names+(1,7,8,1,2)
print(number)

('Swetha', 'Sridhar', 'Seenu', 1, 7, 8, 1, 2)

DICTIONARY

In [48]:
pd={
    "name":"Swetha",
    "age":21,
    "place":"Chennai",
    "college":"Agni College of Technology",
    "dept":"CSE"
}
print(pd,id(pd))

{'name': 'Swetha', 'age': 21, 'place': 'Chennai', 'college': 'Agni College of Technology', 'dept': 'CSE'} 1634228510464

In [2]:
print(pd["name"])

Swetha

In [3]:
keys=pd.keys()
print(keys)

dict_keys(['name', 'age', 'place', 'college', 'dept'])

In [4]:
values=pd.values()
print(values)

dict_values(['Swetha', 21, 'Chennai', 'Agni College of Technology', 'CSE'])

In [5]:
items=pd.items()
print(items)

dict_items([('name', 'Swetha'), ('age', 21), ('place', 'Chennai'), ('college', 'Agni College of Technology'), ('dept', 'CSE')])

In [6]:
pd.get("age")

21

In [4]:
print(pd)

{'name': 'Swetha', 'age': 21, 'place': 'Chennai', 'college': 'Agni College of Technology', 'dept': 'CSE'}

In [5]:
pd.pop("place")
print(pd)

{'name': 'Swetha', 'age': 21, 'college': 'Agni College of Technology', 'dept': 'CSE'}

In [6]:
pd.update({"occupation":"Engineer","favbike":"Rx100","hobby":"Book reading"})
print(pd)

{'name': 'Swetha', 'age': 21, 'college': 'Agni College of Technology', 'dept': 'CSE', 'occupation': 'Engineer', 'favbike': 'Rx100', 'hobby': 'Book reading'}

In [7]:
pd.clear()
print(pd)

{}

In [10]:
pd.fromkeys()
print(pd)

TypeError: 'int' object is not iterable

In [18]:
dict.fromkeys(pd["name"][1])

{'w': None}

In [23]:
pd.get('name')[1]

'w'

In [24]:
x=dict.fromkeys(pd)
print(x)

{'name': None, 'age': None, 'place': None, 'college': None, 'dept': None}

In [29]:
pd.append({"initial":"S"})

AttributeError: 'dict' object has no attribute 'append'

In [30]:
new_pd={"initial":"S"}
pd.extend(new_pd)
print(pd)

AttributeError: 'dict' object has no attribute 'extend'

In [31]:
pd.insert("S",1)
print(pd)

AttributeError: 'dict' object has no attribute 'insert'

In [33]:
pd.remove({"name":"Swetha"})
print(pd)

AttributeError: 'dict' object has no attribute 'remove'

In [34]:
pd.popitem()
print(pd)

{'name': 'Swetha', 'age': 21, 'place': 'Chennai', 'college': 'Agni College of Technology'}

In [35]:
pd.index()
print(pd)

AttributeError: 'dict' object has no attribute 'index'

In [36]:
pd.count()
print(pd)

AttributeError: 'dict' object has no attribute 'count'

In [38]:
pd.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [39]:
pd.reverse()

AttributeError: 'dict' object has no attribute 'reverse'

In [41]:
pd.copy()
print(pd,id(pd))

{'name': 'Swetha', 'age': 21, 'place': 'Chennai', 'college': 'Agni College of Technology'} 1634226902208

In [50]:
pd.setdefault("name","Swetha")

'Swetha'

In [51]:
bikes={"Rx100","Honda","FZ","R15"}
print(bikes)

{'Honda', 'Rx100', 'FZ', 'R15'}

In [53]:
bikes=set(["Rx100","Honda","FZ","R15"])
print(bikes)

{'Honda', 'Rx100', 'FZ', 'R15'}

In [54]:
bikes.add("Duke")
print(bikes)

{'Rx100', 'Honda', 'Duke', 'R15', 'FZ'}

In [58]:
bikes.remove("Duke")

KeyError: 'Duke'

In [74]:
bikes.discard("Ninja")
print(bikes)

{'Rx100', 'Honda', 'R15', 'FZ'}

In [59]:
print(bikes)

{'Rx100', 'Honda', 'R15', 'FZ'}

SET

In [60]:
set1={1,2,3,4}
set2={3,4,5,6}
print(set1,set2)

{1, 2, 3, 4} {3, 4, 5, 6}

In [61]:
union=set1 | set2
print(union)
intersection= set1 & set2
print(intersection)
diff= set1-set2
print(diff)
sydiff=set1^set2
print(sydiff)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [63]:
s1={1,2,3,4,5,6}
s2={1,2,3}
s3={7,8}
subset=(s2).issubset(s1)
superset=(s1).issuperset(s2)
print(subset,superset)

True True

In [65]:
disjoint=s3.isdisjoint(s2)
print(disjoint)

True

In [66]:
s1={1,2,3,4,5}
s2=s1.copy()
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [67]:
s1.add(7)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5}

In [70]:
s1=s2
print(s1,s2)

{1, 2, 3, 4, 5} {1, 2, 3, 4, 5}

In [71]:
s1.add(7)
print(s1,s2)

{1, 2, 3, 4, 5, 7} {1, 2, 3, 4, 5, 7}

In [72]:
s1.clear()
print(s1)

set()

Lambda Function

In [76]:
x=lambda a,b,c:a+b+c
print(x(1,3,5))

9

FILTER

In [77]:
num=[1,2,3,4,5,6,7,8,9,10]
num1=list(filter(lambda x:(x%2 != 0),num))
print(num1)

[1, 3, 5, 7, 9]

MAP

In [80]:
num=[1,2,3,4,5,6,7,8,9,10]
num1=list(map(lambda x:(x*2),num))
print(num1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

REDUCE

In [94]:
def add(x,y):
    return x+y

In [95]:
num=[1,2,3,4,5,6,7,8,9,0]

In [98]:
from functools import reduce
num1=reduce(add,num)
print(num1)

45

Write a lambda function to find squares of numbers ending with 5 upto 100.
Hint:[5,15,25,....95]

In [118]:
num=list(filter(lambda x:x%5==0,range(5,101)))
num1=list(filter(lambda x:x%10==5,num))
sqr=list(map(lambda x:x**2,num1))
print(sqr)

[25, 225, 625, 1225, 2025, 3025, 4225, 5625, 7225, 9025]

Find the summation of values for a sequence of nubers starts with 5 and the difference is 8 upto 100

In [127]:
from functools import reduce
def sum(x,y):
    return(x+y)
num=list(map(lambda x:x,range(5,101,8)))
print(num)
num1=reduce(sum,num)
print(num1)

[5, 13, 21, 29, 37, 45, 53, 61, 69, 77, 85, 93]
588

Using filter and lambda function find summation of numbers for gp sequence for a=1, r=2 upto 150 from 0

In [139]:
from functools import reduce
def sum(x,y):
    return(x+y)
num=list(map(lambda x:2**x,range(0,8)))
print(num)
num1=reduce(sum,num)
print(num1)

[1, 2, 4, 8, 16, 32, 64, 128]
255

In [142]:
from functools import reduce
def sum(x,y):
    return(x+y)
num=list(filter(lambda x:2**x,range(0,8)))
print(num)

Create a list containing 5 different company names.Covert it into uppercase and lowercase and titlecase

In [147]:
company=["Busoft","Capegemini","Clusterex","Hexaware","Maverics"]
uppercase=list(map(str.upper,company))
print(uppercase)
lowercase=list(map(str.lower,company))
print(lowercase)
titlecase=list(map(str.title,company))
print(titlecase)

['BUSOFT', 'CAPEGEMINI', 'CLUSTEREX', 'HEXAWARE', 'MAVERICS']
['busoft', 'capegemini', 'clusterex', 'hexaware', 'maverics']
['Busoft', 'Capegemini', 'Clusterex', 'Hexaware', 'Maverics']

LIST COMPREHENSION

In [152]:
company=["Busoft","Capegemini","Clusterex","Hexaware","Maverics"]
uppercase=[str.upper() for str in company]
print(uppercase)
lowercase=[str.lower() for str in company]
print(lowercase)
titlecase=[str.title() for str in company]
print(uppercase)

['BUSOFT', 'CAPEGEMINI', 'CLUSTEREX', 'HEXAWARE', 'MAVERICS']
['busoft', 'capegemini', 'clusterex', 'hexaware', 'maverics']
['BUSOFT', 'CAPEGEMINI', 'CLUSTEREX', 'HEXAWARE', 'MAVERICS']